<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">

                <h1 class="title">
                
                </h1>
                <h1 class="title">
                    <span class="typewrite" data-period="1300" data-type='[ "Hello", "Jesus Centre Ministry", "Church Blog",
                   "All your sermons", "Remember to leave a comment", "We will respond", "To Any question", "Be Blessed"]'>
                        <span class="wrap"></span>
                    </span>
                </h1>
                <h4 class="subtitle" id="quote"></h4>
            </div>
        </div>
    </section>
    <div class="main-container">
        <div class="tile is-ancestor is-vertical">

            <nav class="nav has-shadow">
                <div class="nav-left">
                   
                    <div class="nav-item" id="searchFieldNav">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-dark is-small" href="/">
                                    << Back Home
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="nav-right nav-menu" id='nav-menu'>
                    <a href="/archive" class="nav-item">Sermon's List</a>

                </div>
                <span class="nav-toggle" id="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
            </nav>
            <div class="tile is-parent">
                <div class="tile is-8 is-child main">
                    {{ content }}
                </div>
                <div class="tile is-4 is-child">
                    <div class="tile is-parent is-vertical sidebar">
                        <div class="tile is-child widget">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title nice-title">
                                        Recent Posts
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content nice-text">
                                        <ul>
                                            {% for post in site.posts limit:3 %}
                                            <li>
                                                <a href="{{ post.url }}">
                                                    {{ post.title }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tile is-child widget">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title nice-title">
                                        
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content nice-text">
                                        <img src="{{ site.baseurl }}/assets/images/author.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    All rights reserved by the author
                </p>
                <p>
                    <a class="icon" href="https://instagram.com">
                        <i class="fa fa-instagram" title="Instagram"></i>
                    </a>
                    <a class="icon" href="https://facebook.com/">
                        <i class="fa fa-facebook" title="Linkedin"></i>
                    </a>
                    <a class="icon" href="mailto:bobkaranja@outlook.com">
                        <i class="fa fa-envelope" title="Email"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <!-- js -->
    <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    <script src="{{ site.baseurl }}/assets/js/typewriter.js"></script>
</body>
</html>
